.cont {
color: #000000;
font-family: Verdana, Arial,sans-serif;
font-size: 12px;
}

.center {
color: #000000;
font-family: Verdana, Arial,sans-serif;
font-size: 12px;
text-align: center;
}

.centersmall {
color: #000000;
font-family: Verdana, Arial,sans-serif;
font-size: 10px;
text-align: center;
}

a:link {
color: #FF0000;
text-decoration: underline;
}

.headline {
color: #999999;
font-family: Arial,sans-serif;
font-size: 18px;
font-weight: bold;
text-align: center;
}
